@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'PlayfairDisplay', serif;
    src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'PlayfairDisplayBI', serif;
    src: url('../assets/fonts/PlayfairDisplay-BlackItalic.ttf');
}