@import './_vars.scss';

@mixin menu($top) {
    content: '';
    position: absolute;
    left: 0;
    top: $top;
    display: block;
    width: 3.1rem;
    height: 0.3rem;
    background: $purple-dark;
    transition: all 0.4s ease-in;
}

@mixin parentFont {
    @media all and (min-width: 576px) {
        font-size: 8px;
    } 
    @media all and (min-width: 768px) {
        font-size: 9px;
    } 
    @media all and (min-width: 992px) {
        font-size: 10px;
    }
}
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }