@import './_vars.scss';
@import './_fonts.scss';
@import './_mixins.scss';
@import './_media.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1532px;
    padding: 0 16px;
    margin: 0 auto;
}

html {
    @include fluid-type($screen-sm-min, $screen-xl-min, 8px, 10px)
}

a {
    text-decoration: none;
}
.lock {
    overflow: hidden;
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: background 0.2s cubic-bezier(.46,.03,.52,.96);
    padding: 2rem 4rem;
}

// HEADER

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
}

// HEADER MENU

.header__menu {
    display: flex;
    align-items: center;
    width: 3.1rem;
    height: 2.2rem;
    margin-right: 1rem;
    z-index: 2;
    cursor: pointer;
    .menu__icon {
        width: 100%;
        height: 0.3rem;
        background: $purple-dark;
        position: relative;
        transition: all 0.5s ease-in;
    }
    .menu__icon::before {
        @include menu(1rem);
    }
    .menu__icon::after {
        @include menu(-1rem);
    }
    .menu__icon_active {
        background: transparent;
    }
    .menu__icon_active::before {        
        @include menuActive(405deg);
    }
    .menu__icon_active::after {        
        @include menuActive(-405deg);
    }
}

// HEADER LOGO

.header__logo-title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    text-transform: uppercase;
    color: $purple-dark;
    border: 0.6rem solid $purple-dark;
    padding: 0 1rem;
}

// HEADER SEARCH

.header__search-icon {
    fill: $purple-dark;
    width: 3.8rem;
    height: 3.8rem;
    cursor: pointer;
    &:hover {
        fill: $purple-light;
    }
}

// HEADER NAV

.header__nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background: $purple-dark;
    &_active {
        left: 0;
    }
}

.header__nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    .header__nav-item {
        font-size: 4rem;
        font-family: 'Raleway';
        text-align: center;
    }
    .header__nav-link {
        display: inline-block;
        position: relative;
        color: white;
        padding: 0 2rem;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 0.3rem;
            width: 0%;
            background: white;
            border-radius: 3px;
            transition: .35s ease;
        }
        &:hover:after {
            width: 100%;
        }
    }
}

// INTRO

.intro { 
    background: #f0f0f0;
    position: relative;
    &:after {
        @include xl {
            display: block;
            content: '';
            width: calc(100% - 1500px - (100% - 1500px) / 2);
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: $purple-dark;
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
        }
    }
}
// INTRO BACKGROUND

.intro_bg {
    max-width: 1877px;
    margin: 0 auto;
    background-image: url('../assets/images/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include xxl {
        background-size: contain;
        background-position: right;
    }
}

// INTRO CONTENT

.intro__content {
    padding: 22.1rem 0;
}

.intro__modal {
    padding: 6rem 6rem 7.4rem;
    margin: 0 auto;
    @include sm {
        margin: 0;
        width: 73.5rem;
    }
    color: white;
    font-family: 'Raleway';
    background: $purple-dark;
    &-title {
        font-size: 1.8rem;
        display: block;
        padding-bottom: 3.2rem;
        border-bottom: 1px solid rgba(125, 81, 150, 0.2);
    }
    &-main {
        font-size: 4.8rem;
        padding-top: 5rem;
        padding-bottom: 5.9rem;
    }
}

.intro__modal-btn {
    color: white;
    border: 0.3rem solid #772f9f;
    cursor: pointer;
    &:hover {
        background: #772f9f;
    }
}

// NEWS

.news {
    background: $purple-dark;
}

.news__content {
    background: white;
    display: flex;
    flex-direction: column;
    &-block {
        display: flex;
    }
    @include xxl {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.news__content-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
        flex-direction: row;
        justify-content: center;
    }
}

.news__content-img {
    width: 100%;
    max-width: 360px;
    @include xxl {
        min-width: 375px;
        max-height: 565px;
    }
    height: auto;
}

.news__item {
    padding: 4.7rem 3.3rem 6.3rem 2.7rem;
    max-width: 375px;
    &-btn {
        border: 3px solid #ededed;
        font-family: 'Raleway';
        color: black;
        font-size: 1.6rem;
        &:hover {
            background: #ededed;
        }
    }
}

.news__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "PlayfairDisplay";
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    &-main {
        color: $purple-dark;
    }
    &-date {
        color: black;
        opacity: 0.2;
    }
}

.news__text {
    padding: 3.3rem 0 4.7rem;
    &-main {
        font-size: 3rem;
        font-family: 'Raleway';
        font-weight: bold;
        &:after {
            content: '';
            display: block;
            background: black;
            height: 0.3rem;
            width: 35%;
            margin-top: 4.7rem;
        }
    }
    &-add {
        opacity: 0.4;
        font-size: 1.6rem;
        padding-top: 4.8rem;
        font-family: 'PlayfairDisplay';
    }
}